{% load static %}
{% load rest_framework %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Геопортал</title>
        <script src="https://cdn.jsdelivr.net/npm/ol@v7.3.0/dist/ol.js"></script>
        <script src="https://unpkg.com/ol-layerswitcher@4.1.0"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v7.3.0/ol.css">
        <link rel="stylesheet" href="https://unpkg.com/ol-layerswitcher@4.1.0/dist/ol-layerswitcher.css" />
        <link rel="stylesheet" href="{% static 'geoportal_core/style.css' %}">  
        <script
			  src="https://code.jquery.com/jquery-3.6.3.min.js"
			  integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
			  crossorigin="anonymous"></script>
    </head>
    <body>

        <div id="map"></div>

        <section class="floating">
            <span class="module_name" name="{{ module.name }}">{{ module.alias }}</span>
            <!-- <select id="modules"></select> -->
            <a href="{% url 'module_select' %}">Выбор модуля</a>
            <select id="areas">
                {% for area in area_list %}
                    <option value="{{ area.name }}">{{ area.alias }}</option>
                {% endfor %}
            </select>

        </section>

        <aside class="floating">

            <select id="commands">
                <option value='-1'>Выберите</option>
                {% for command in commands %}
                    <option value="{{ command.name }}">{{ command.alias }}</option>
                {% endfor %}
            </select>

            {% for command in commands %}
                <form class="command_form" style="display: none;" name="{{ command.name }}" url="{% url 'run_command' module_name=module.name command_name=command.name %}" 
                     method="GET">
                     {% render_form command.serializer_instance template_pack='rest_framework/vertical' %}
                    <input type="submit" value="Выполнить">
                </form>
            {% endfor %} 
        </aside>
        
        
        {% block scripts %}
        <script src="{% static 'geoportal_core/script.js' %}"></script>
        {% endblock %}
    </body>
</html>